.owl-carousel .owl-stage .owl-item{
    background-color: #3a3058;
    border-radius: 50px;
    color: #fff;
    width: 68px !important;
}

@media (max-width: 575.98px) {
    .owl-carousel .owl-stage{
        display: flex;
    }
    .owl-carousel .owl-stage .owl-item{
        min-width: 70px !important;
    }
}